
body
{
    background-color:#424242;
}


.header1
{
    color:white;
    font-family: sans-serif;
    font-size: 40px;
    background-color: #313335;
    padding-left: 40px;
    padding-top: 20px;
    height: 60px;
    text-align: center;
}





p
{
 color: white;
   text-align: center;
   font-family: sans-serif;
   font-size: 18px;
   margin-bottom: 10px;
   margin-top: 10px;
}
input[type=text] ,input[type=email],input[type=password]{
    width:90%;
    height: 35px;
    padding-left: 5px;
    margin: 0px 12.5px;
    margin-right: 40px;
    max-width: 440px;
    
    
}


input[type="submit"]
{
    color:white;  
    background-color:rgb(0,123,181);
    margin: 0px 0px 0px 13px;
    width:93%;
    height: 30px;
    max-width: 440px;
    font-style: bold;
}

.body_1{
    width:100%;
    color:white;
    max-width: 410px;
    margin:auto;
    
}

form { 
margin: 0 auto; 
width:250px;
    
}
.Rounded {
     border-radius:10px 10px 10px 10px; 
     padding:10px; padding:1px;
}
.agreement,.acc
{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

