html{
   background color: grey;
   
}

body
{
    background: blue;
}

h1
{
   color: white;
   text-align: center;
}

h2
{
    color: white;
   text-align: center;
}

h5
{
 color: white;
   text-align: center;
}

